:host {
  position: fixed;
  inset: 0;
  display: block;
  pointer-events: none;
  z-index: 0;
}

.matrix-rain {
  width: 100%;
  height: 100%;
}

.matrix-rain canvas {
  width: 100%;
  height: 100%;
  display: block;
}