<div class="focus-areas-container">
  <div class="add-focus-area">
    <input type="text" [value]="newFocusArea" (input)="newFocusArea = $any($event.target).value"
      placeholder="Add a focus area" />
    <button type="button" (click)="addFocusArea()">Add Focus Area</button>
  </div>

  <h1 class="page-title">Focus Areas</h1>

  <div class="focus-area-buttons">
    @for (area of focusAreas(); track area) {
    <button class="task-button" [class.selected]="area === selectedArea" (click)="selectArea(area)">
      {{ area }}
    </button>
    }
  </div>

  @if (selectedArea) {
  <div class="focus-area-details">
    <h2>{{ selectedArea }}</h2>
    <div class="focus-area-tasks">
      @for (task of tasksForSelectedArea(); track task.id) {
      <div>
        <button class="task-button" [class.completed]="task.completed">
          {{ task.name }}
        </button>
      </div>
      }
    </div>
  </div>
  }
</div>