<div class="planner-container">
  <!-- Add Task form at the top -->
  <app-add-task
    [focusAreas]="focusAreas"
    (addFocusArea)="addFocusArea($event)"
    (addTaskEvent)="handleNewTask($event)"/>

  @for (task of tasks; track task.name) {
    @if (!task.completed) {
      <div>
        <button
          class="task-button"
          [class.selected]="task === selectedTask"
          [appHighlight]="task.isDueToday"
          (click)="selectTask(task)">
          [{{ task.focusArea }}] {{ task.name }} -
          {{ task.time | date: 'EEEE, MMM d, y' }},
          {{ task.time | timeLeft }}
        </button>
      </div>
    }
  }

  <h2>Task Details</h2>

  @if (selectedTask) {
    <app-task
      [task]="selectedTask"
      (completeTask)="handleCompleteTask()">
    </app-task>
  }
</div>
