.planner-container {
  width: 40%;
  margin: 40px auto;
}

/* Tablets */
@media (max-width: 1024px) {
  .planner-container {
    width: 80%;
  }
}

/* Phones */
@media (max-width: 600px) {
  .planner-container {
    width: 90%;
  }
}
