body {
  font-family: monospace;
  line-height: 1.6;
  margin: 20px;
  color: #bfffc1;
  background-color: black;
  text-shadow: 4px 4px 12px rgba(104, 255, 66, 0.781);
}



input[type="text"], button {
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #087627;  
  width: calc(100% - 16px);  
  background-color: #000000;
  color: #ffffff;
}

button {
  cursor: pointer;
  background-color: #003B00;  
  color: white;
  border: none;
  font-family: monospace;
  width: 30%;
    display: block;
  margin: 10px auto;
}

.add-task-form button {
  background-color: #000;
  box-shadow: 0px 0px 12px rgba(104, 255, 66, 0.781);
  font-family: monospace;
  color: #bfffc1;
}

.complete-btn {
  background-color: #000;
  box-shadow: 0px 0px 12px rgba(104, 255, 66, 0.781);
  font-family: monospace;
  color: #bfffc1;
}


button:hover {
  background-color: #008F11;  
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

app-task-name-input input::placeholder {
  color: #cbcbcb;
  font-family: monospace;
}

.planner-container {
  width: 40%;
  margin: 40px auto;
}


.task-button {
  display: block;
  width: 100%;
  padding: 12px 14px;
  margin: 6px 0;
  background-color: #131313; 
  color: #50ff56;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s,
              border-color 0.2s,
              transform 0.15s;
  font-family: monospace;
}

.task-button:hover {
  background-color: #000000;
  border-color: #008a6a;
  transform: translateY(-2px);
  box-shadow: 1px 1px 20px rgba(0, 145, 82, 0.796);
  
}

.task-button.selected {
  background-color: #001d15;
  color: #bfffc1;
  text-shadow: 0px 0px 10px rgba(144, 255, 117, 0.825);
}

.task-button:focus-visible {
  outline: 2px solid #aec6d6;
  outline-offset: 2px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #50ff56;
  text-shadow: 4px 4px 12px rgba(104, 255, 66, 0.781);
  font-size: 2rem;
  padding-bottom: 4px;
  
}

/* Tablets */
@media (max-width: 1024px) {
  .planner-container {
    width: 80%;
  }
}

/* Phones */
@media (max-width: 600px) {
  .planner-container {
    width: 90%;
  }
}



